.accordion-container {
    margin-bottom: 2rem;
    
    + .accordion-container {
        margin-top: -2rem;
    }
}

.accordion {
    margin: 0;
    
    .accordion-item {
        .accordion-title {
            color: #555;
            border-bottom: 1px solid #ddd;
            padding: 0.75em 2.5em 0.75em 0.75em;

            .toggle::after {
                display: flex;
                position: absolute;
                top: 50%;
                right: 0.5em;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                border-radius: 50%;
                font-size: 1.1em;
                content: '+';
                transition: all 0.1s ease;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border: 1px solid #aaa;
                color: #aaa;
            }
        
            &:hover,
            &:hover .toggle::after {
                color: #007eb1;
            }
            &:hover .toggle::after {
                border-color: #007eb1;
            }
        }
        &.active {
            .accordion-title,
            .accordion-title .toggle::after {
                color: #007eb1;
                border-color: #007eb1;
                border-width: 2px;
                content: "−";
            }
        }
        ul {
            list-style-type: disc;
            margin-bottom: 1rem;
        }
    }
}
body {
    &.biodiversity {
        .accordion .accordion-item {
            &.active h3 {
                color: $biodiversity-dark;
            }
            .accordion-title {
                border-color: $biodiversity-light;
                .toggle::after {
                    color: $biodiversity;
                    border-color: $biodiversity;
                }
                &:hover,
                &:hover .toggle::after {
                    color: $biodiversity-dark;
                }
            }
        }
    }
    &.heritage {
        .accordion .accordion-item {
            &.active h3 {
                color: $heritage-dark;
            }
            .accordion-title {
                border-color: $heritage-light;
                .toggle::after {
                    color: $heritage;
                    border-color: $heritage;
                }
                &:hover,
                &:hover .toggle::after {
                    color: $heritage-dark;
                }
            }
        }
    }
    &.pollution {
        .accordion .accordion-item {
            &.active h3 {
                color: $pollution-dark;
            }
            .accordion-title {
                border-color: $pollution-light;
                .toggle::after {
                    color: $pollution;
                    border-color: $pollution;
                }
                &:hover,
                &:hover .toggle::after {
                    color: $pollution-dark;
                }
            }
        }
    }    
    &.climate {
        .accordion .accordion-item {
            &.active h3 {
                color: $climate-dark;
            }
            .accordion-title {
                border-color: $climate-light;
                .toggle::after {
                    color: $climate;
                    border-color: $climate;
                }
                &:hover,
                &:hover .toggle::after {
                    color: $climate-dark;
                }
            }
        }
    }
    &.liveability {
        .accordion .accordion-item {
            &.active h3 {
                color: $liveability-dark;
            }
            .accordion-title {
                border-color: $liveability-light;
                .toggle::after {
                    color: $liveability;
                    border-color: $liveability;
                }
                &:hover,
                &:hover .toggle::after {
                    color: $liveability-dark;
                }
            }
        }
    }

    &.great-barrier-reef {
        .accordion .accordion-item {
            &.active h3 {
                color: $great-barrier-reef-dark;
            }
            .accordion-title {
                border-color: $great-barrier-reef-light;
                .toggle::after {
                    color: $great-barrier-reef;
                    border-color: $great-barrier-reef;
                }
                &:hover,
                &:hover .toggle::after {
                    color: $great-barrier-reef-dark;
                }
            }
        }
    }

    &.climate-change {
        .accordion .accordion-item {
            &.active h3 {
                color: $climate-change-dark;
            }
            .accordion-title {
                border-color: $climate-change-light;
                .toggle::after {
                    color: $climate-change;
                    border-color: $climate-change;
                }
                &:hover,
                &:hover .toggle::after {
                    color: $climate-change-dark;
                }
            }
            .accordion-content {
                a, a:hover {
                    color: $climate-change-dark;
                }
            }
        }
    }
    
}