$primary-color: #007eb1;
$primary-hover: #189cc6;
$link-color: #007eb1;
$link-hover-color: #ff8100;

$biodiversity: #6ebc44;
$biodiversity-medium: #b7dda2;
$biodiversity-light: #e9f5e3;
$biodiversity-dark: #306910;

$heritage: #ec2428;
$heritage-medium: #f6987d;
$heritage-light: #fdddd0;
$heritage-dark: #bd0004;

$pollution: #f17a2f;
$pollution-medium: #f9b88b;
$pollution-light: #fee7d6;
$pollution-dark: #b74700;

$climate: #3a53a4;
$climate-medium: #9195ca;
$climate-light: #d8d9ed;
$climate-dark: #3a53a4;

$human-settlements: #7f3f98;
$human-settlements-medium: #b292c4;
$human-settlements-light: #e2d9ec;
$human-settlements-dark: #7f3f98;

$liveability: #7f3f98;
$liveability-medium: #b292c4;
$liveability-light: #e2d9ec;
$liveability-dark: #7f3f98;

$great-barrier-reef: #00aeef;
$great-barrier-reef-medium: #68d6ff;
$great-barrier-reef-light: #d4effc;
$great-barrier-reef-dark: #008ec3;

$climate-change: #f4c900;
$climate-change-medium: #ffe671;
$climate-change-light: #fdf3d9;
$climate-change-dark: #d67a04;
